.main {
	background-position: 0 2;
	background-color: #048;
	background-color: #065;
	background-color: #06c;
	background-color: #06c;
	background-color: #06f;
	background-color: #020;
	background-color: #057;
	background-color: #06f;
	background-color: #072;
	background-color: #06c;
	background-color: #064;

	padding-right: 0;
	padding-top: 0;
}
